@{
    ViewBag.Title = "Test CICD Page";
}

<div class="jumbotron">
    <h1>This is developed by only Khaled 😎😎🥶 </h1>
    <p class="lead">Welcome All</p>
    <p><a href="http://google.com" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
